html {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

input[type="text"] {
  /* Set width to 40characters */
  width: 50rem;

  /* prevent overflow of container */
  max-width: 100%;
}
img {
  width: 5rem;
}
