html {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

input[type="text"] {
  /* Set width to 40characters */

  width: 40rem;

  /* prevent overflow of container */
}
img {
  width: 3rem;
}

#fic-informations {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.input-url {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media (width <= 700px) {
  .input-url {
    flex-direction: column;
    width: 100%;
  }
  input[type="text"] {
    width: 100%;
  }
}
